/.idea/
.vsconfig

.DS_Store
*.dll
*.pdb
TofuECS.Tests/bin/
TofuECS.Tests/obj/
TofuECS/obj/
TofuECS.Utilities/obj/
TofuECS.Tests/obj/
TofuECS.sln.DotSettings.user
packages/
UnsafeCollections/obj/
UnsafeCollections/bin
TofuECS.Utilities/bin/
TofuECS.Utilities/bin/
TofuECS/bin/
